.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/
/dist-electron/
/sidecar-app/bun-agent*
/sidecar-app/node_modules/
/src-tauri/binaries/
.playwright-mcp
/src-tauri/resources/**
/src-tauri/target/**